@import "../scss/login";

.home-container {
    display: flex;
    height: 100vh;

    .sidebar-section {
        float: left;
        width: 17.5%;
        padding: 2.5rem 1rem;
        border-right: 1px solid rgb(199, 199, 199);
        position: relative;
    }

    .right-section {
        float: left;
        width: 42.5%;
    }

    .content-section {
        clear: both;
        width: 42.5%;
        box-sizing: border-box;
        padding: 1.5rem 2.5rem 2rem 6rem;

        .stories-section {
            .stories-container {
                border: 1px solid rgb(206, 205, 205);
                border-radius: 5pt;
                padding: 1rem;
                overflow-x: hidden;
                width: 100%;
                display: flex;
                gap: 13px;
                position: relative;

                .swipe-btn {
                    position: absolute;
                    width: 22px;
                    height: 22px;
                    background-color: white;
                    border-radius: 100%;
                    top: 2.5rem;
                    cursor: pointer;

                    .swipe-ic {
                        width: 6px;
                        height: 6px;
                        border: 2px solid;
                        border-color: transparent transparent black black;
                        margin-top: .4em;
                    }

                    .prev-ic {
                        transform: rotate(45deg);
                        margin-left: .5rem;
                    }

                    .next-ic {
                        transform: rotate(-135deg);
                        margin-left: .2rem;
                    }
                }

                .next-btn {
                    position: absolute;
                    right: 1em;
                }

                .story {
                    cursor: pointer;

                    .avatar-frame {
                        width: 50px;
                        height: 50px;
                        border-radius: 100%;
                        border: 1px solid rgb(226, 226, 226);
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .avatar {
                            width: 45px;
                            height: 45px;
                            border: 1px solid rgb(226, 226, 226);
                            border-radius: 100%;
                            background-color: black;
                        }
                    }

                    .str-active {
                        border: 2px solid rgb(211, 54, 54);
                    }

                    p {
                        margin-block-start: .3em;
                        margin-block-end: 0;
                        font-size: 10pt;
                    }
                }
            }
        }

        .posts-section {
            .posts-container {
                .post {
                    border: 1px solid rgb(206, 205, 205);
                    margin-top: 1rem;
                    border-radius: 5pt;
                    width: 100%;
                }
            }
        }
    }
}

.notauth-container {
    display: flex;
    height: 100vh;

    padding: 2rem;

    .cover-img {
        background-image: url("../images/decor.png");
        background-size: contain;
        background-position: right;
        background-repeat: no-repeat;
        margin-bottom: 2rem;
    }

    .split {
        width: 50%;
        float: left;
        box-sizing: border-box;
    }

    .container-divider {
        clear: both;
    }
}

@media screen and (max-width: 875px) {
    .notauth-container {
        justify-content: center;
        align-items: center;

        .cover-img {
            display: none;
        }
    }
}