.loading {
    background-color: white;
    position: relative;
    z-index: 2;

    .loading-logo {
        height: 90vh;
    }

    .loading-footer {
        height: 10vh;
    }

    .loading-logo,
    .loading-footer {
        display: flex;
        justify-content: center;
        align-items: center;
        
        img {
            position: absolute;
        }
    }
}
