.sidebar-section {
    width: 245px;
    float: left;
    height: 100vh;

    .sidebar-container {
        max-width: 300px;
        width: inherit;
        height: 100%;
        border-right: 1px solid rgba(199, 199, 199, 0.61);
        padding: 2.5rem 1rem;
        box-sizing: border-box;
        overflow: hidden;
        white-space: nowrap;
        transition: max-width .3s ease-in-out;
        position: fixed;
    
        &.short {
            max-width: 75px;
    
            .link-title {
                width: 0;
                height: 0;
                overflow: hidden;
            }
    
            .side-item {
                gap: 0;
            }
    
            li:last-child {
                bottom: 2.5rem;
            }
        }
    
        a:first-child {
            .logo {
                width: 6rem;
                height: 2rem;
                background-image: url("../../images/title.png");
                background-position-y: bottom;
                background-size: 200%;
                margin-left: .5rem;
                transition: opacity .3s linear;
                opacity: 1;
    
                &.hidden {
                    opacity: 0;
                }
            }
    
            .logo-icon {
                margin-left: .7rem;
                position: absolute;
                margin-top: -1.5rem;
                scale: 0;
                transition: scale .3s linear;
                
                path {
                    fill: black;
                }
    
                &:hover {
                    transform: scale(1.05)
                }
    
                &.appear {
                    scale: 1;
                }
            }
        }
    
        ul {
            margin-block-start: 2.5em;
            margin-block-end: 2.5em;
            padding-inline-start: 0;
            display: flex;
            flex-direction: column;
            gap: 17px;
    
            li {
                a {
                    text-decoration: none;
    
                    .side-item {
                        display: flex;
                        color: black;
                        gap: 15px;
                        padding: .7rem .5rem;
    
                        &:hover {
                            background-color: rgba(236, 236, 236, 0.267);
                            border-radius: 2rem;
    
                            .fa-ic {
                                transform: scale(1.05)
                            }
                        }
    
                        .avatar {
                            width: 25px;
                            height: 25px;
                            border: 1px solid rgb(226, 226, 226);
                            border-radius: 100%;
                            background-image: url("../../images/clown_rage.png");
                            background-repeat: no-repeat;
                            background-size: contain;
                        }
    
                        .hamburger-menu,
                        .hamburger-menu::before,
                        .hamburger-menu::after {
                            width: 20px;
                            height: 2px;
                            background-color: black;
                            border-radius: 2px;
                            display: block;
                        }
    
                        .hamburger-menu {
                            margin-top: 10px;
                        }
    
                        .hamburger-menu::before {
                            content: "";
                            margin-top: -8px;
                        }
    
                        .hamburger-menu::after {
                            content: "";
                            margin-top: 14px;
                        }
                    }

                    .active-item {
                        border: thin solid rgb(216, 216, 216);
                        pointer-events: none;
                        border-radius: 2rem;
                        padding: .5rem;
                    }
                }
    
                &:last-child {
                    position: absolute;
                    bottom: 2rem;
                }
            }
        }
    }
}