@import "./assets/scss/home";
@import "./assets/scss/login";
@import "./assets/scss/register";
@import "./assets/scss/error";
@import "./assets/scss/components/footer";
@import "./assets/scss/components/loading";
@import "./assets/scss/components/sidebar";

body {
    margin: 0;
    padding: 0;

    ul {
        list-style: none;
    }

    font-family: system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
}